<form method="post" action="{{ path('biblioteca_delete', {'id': biblioteca.id}) }}" onsubmit="return confirm('Estas segurito segurito segurito de borrar el libro: {{biblioteca.titulo}}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ biblioteca.id) }}">
    <button class="btn btn-primary">Borrar</button>
</form>
